body {
    transition: background-color 0.3s, color 0.3s;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text);
}

ul li {
    display: inline;
    margin-right: 20px;
}

.about-text {
    gap: 20px;
    padding: 20px;
}

.about-text h1 {
    text-align: left;
    font-size: 2.5em;
}

.about-text p {
    text-align: left;
    font-size: 1.5em;
    margin-top: 20px;
}


.downloadText {
    text-decoration: underline;
    color: var(--text);
}

/* .about-2 img {
    width: 20%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
} */

.about-image img {
    width: 20%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

.skill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.skill h2 {
    font-size: 1.5em;
}

@media screen and (max-width: 768px) {
    .about-text {
        padding: 10px;
    }

    .about-text h1 {
        font-size: 2em;
    }

    .about-text p {
        font-size: 1em;
    }

    .about-image img {
        width: 30%;
    }

    .skills {
        margin-left: 10px;
    }

    .skill h2 {
        font-size: 1em;
    }

    .leftEffect {
        display: none;
    }

    ul li {
        margin-right: 10px;
    }

    .about-text {
        gap: 10px;
    }

    .skill {
        gap: 10px;
    }

    .downloadText {
        font-size: 1em;
    }

    .about-image img {
        margin-top: 20px;
    }

    .about-image img {
        width: 70%;
    }

}